header{
    margin-left: 100px;
    margin-right: 100px;
    background-color:whitesmoke;
}
article{
    text-align:center;
    margin-left: 100px;
    margin-right: 100px;
    background-color:whitesmoke;    
}

body{
    background: white url(jornal.jpg);
}