body{
    margin: 0;
    width:100%;
    max-width: 700;
    max-height: 1000;
}

#curriculo{
    display: flex;
    width:auto;
    
}
#barra{
    display: flex;
    background-color: black;
    color: white;
    height: 60px;
}
#marca-pagina{
    margin: 15px 15px 0 15px;
    background-color: rgb(4, 70, 4);
    width: auto;
    max-width: 200px;
    height: 1130px;
    text-align: center;
}
#atividades{
    text-align: start;
    margin: 0px;
}
#profissional{
    margin-left: 220px;
    max-width: 900px;
    width: auto;
}